# --- Binaires solveur C ---
assemblage_solver/nuclear/code_c/assemblage_solver
assemblage_solver/nuclear/code_c/prog
assemblage_solver/nuclear/code_c/programme

# --- Fichiers générés solveur ---
assemblage_solver/nuclear/code_c/assemblage.txt
assemblage_solver/nuclear/code_c/diagnostic_complet.txt

# --- Archives ---
*.zip

# --- Binaires simulateur C++ ---
calcul3d/viewer_raylib

# --- Shaders compilés ---
compute/shaders/*.spv

# --- Python cache ---
__pycache__/
*.pyc

# --- Build temp ---
build/
out/
